# Import Libs

In [3]:
import os
from rich import print
import pyThermoDB as ptdb

In [4]:
# versions
print(ptdb.__version__)

1.7.18

# Custom Reference

In [5]:
# parent directory
parent_dir = os.path.dirname(os.getcwd())
# test directory
test_dir = os.path.join(parent_dir, 'tests')
# files
yml_file = 'CO2 Hydrogenation.yml'
yml_path = os.path.join(test_dir, yml_file)
# csv files (data/equation tables)
# NOTE: data
csv_file_1 = 'The Molar Heat Capacities of Gases in the Ideal Gas (Zero-Pressure) State.csv'
# NOTE: equation
csv_file_2 = 'General Data.csv'
csv_path_1 = os.path.join(test_dir, csv_file_1)
csv_path_2 = os.path.join(test_dir, csv_file_2)

# NOTE: custom ref
ref = {
    'reference': [yml_path],
    'tables': [csv_path_1, csv_path_2]
}

print(ref)

{
    'reference': ['e:\\Python Projects\\pyThermoDB\\tests\\CO2 Hydrogenation.yml'],
    'tables': [
        'e:\\Python Projects\\pyThermoDB\\tests\\The Molar Heat Capacities of Gases in the Ideal Gas
(Zero-Pressure) State.csv',
        'e:\\Python Projects\\pyThermoDB\\tests\\General Data.csv'
    ]
}

# App Initializtion

In [6]:
tdb_ref = ptdb.ref(ref=ref)
print(tdb_ref)

<pyThermoDB.docs.tableref.TableReference object at 0x000001A0941627B0>

# Databook List

In [7]:
db_list = tdb_ref.list_databooks()
print(db_list)

ValueError: too many values to unpack (expected 2)

# Table List

In [8]:
tb_lists = tdb_ref.list_tables("CO2 Hydrogenation Reaction", res_format='json')
print(tb_lists)

TypeError: TableReference.list_tables() got an unexpected keyword argument 'res_format'

# Load Table Data

In [11]:
# load table
res_ = tdb_ref.load_table(3, 1)
res_

,No.,Name,Formula,a,b,c,d,T(min),T(max),Eq
0,-,-,-,a,b,c,d,T(min),T(max),HeCa_IG
1,-,-,-,1,1.00E+02,1.00E+05,1.00E+09,K,K,J/mol.K
2,1,Methane,CH4,19.875,5.021,1.268,-11.004,273,1500,1
3,2,Ethane,C2H6,6.895,17.255,-6.402,7.280,273,1500,1
4,3,Propane,C3H,-4.042,30.456,-15.711,31.716,273,1500,1
...,...,...,...,...,...,...,...,...,...,...
99,98,Sulfur dioxide,SO2,25.762,5.791,-3.809,8.607,273,1800,1
100,99,Sulfur trioxide,SO3,16.393,14.573,11.193,32.402,273,1300,1
101,100,Hydrogen sulfide,H2S,29.582,1.309,0.571,-3.292,273,1800,1
102,101,Carbon distilfide,CS2,30.921,6.230,-4.586,11.548,273,1800,1
103,102,Carbonyl sulfide,COS,26.034,6.427,-4.427,10.711,273,1800,1

# Search Table

In [12]:
# search table
res_ = tdb_ref.search_table(3, 2, "Formula", "CO2")
res_

,No.,Name,Formula,State,enthalpy-of-formation,gibbs-energy-of-formation
0,-,-,-,-,EnFo,GiEnFo
1,-,-,-,-,kJ/mol,kJ/mol
64,63,Carbon dioxide,CO2,g,-393.50,-394.40
65,64,Carbon dioxide,CO2,aq,-413.80,-386.00

In [13]:
res_ = tdb_ref.search_table(3, 2, ["Formula", "State"], ["CO2", "g"])
res_

,No.,Name,Formula,State,enthalpy-of-formation,gibbs-energy-of-formation
0,-,-,-,-,EnFo,GiEnFo
1,-,-,-,-,kJ/mol,kJ/mol
64,63,Carbon dioxide,CO2,g,-393.50,-394.40